@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    /* background-size: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e66465, #6b74da);
    /* background-color: black;
    background-image: url("grid_cell.png"), url("grid_cell.png");
    animation: trip 20s linear infinite alternate; */
    font-family: "Roboto", sans-serif;
    --custom-grey: #434343;
}

ul {
    display: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
}

input {
    width: 30px;
    margin-left: 5px;
    -moz-appearance: textfield;
    background-color: transparent;
    border-top: none;
    border-bottom-color: var(--custom-grey);
    border-right: none;
    border-left: none;
    outline: none;
    caret-color: transparent;
    font-family: inherit;
    text-align: center;
    transition: .5s;
}

input:focus {
    border-bottom-color: white;
    transition: .1s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.synth {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(30deg, #000000, #434343);
    border-radius: 50px 50px 10px 10px;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.controls {
    height: 70%;
    padding: 2%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2% 2%;
}

.controls>*:not(.logo) {
    border: 1px solid white;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
}

.controls>*>*:first-child {
    font-size: 1.5rem;
    text-align: center;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    margin: auto;
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'Odibee Sans', cursive;
    -webkit-text-stroke: 1px white;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.section_name {
    flex-basis: 20%;
}

.button {
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    transition: .5s;
}

.button:hover {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.73);
    transition: .1s;
}

.additional {
    grid-area: 2 / 1 / 5 / 2;
}

.osc {
    grid-area: 1 / 2 / 3 / 4;
    display: flex;
    flex-direction: column;
}

.osc_ws {
    flex-basis: 80%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.osc_type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.osc_type_select {
    width: 85px;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5% 5%;
}

.osc_partials {
    
}

.env {
    grid-area: 1 / 4 / 3 / 6;
}

.filter {
    grid-area: 3 / 2 / 5 / 3;
}

.filter_env {
    grid-area: 3 / 3 / 5 / 6;
}

.key_wrap {
    border-top: 1px solid white;
}

#keys {
    width: 600px;
    margin: auto;
    padding: 0;
    display: flex;
}

.key_container {
    display: flex;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
}

.white_key {
    width: 100%;
    height: 190px;
    box-sizing: content-box;
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.white_key:not(#B3) {
    border-right: 0.5px solid rgba(32, 32, 32, .3);
}

.black_key {
    width: 70%;
    height: 55%;
    position: absolute;
    right: -36%;
    z-index: 1;
    background-color: black;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
    transition-property: background-color, border-color;
    transition-duration: 0.5s;
}

.active {
    background-color: rgb(255, 207, 51);
    transition-duration: 0s;
}

.button_pressed {
    filter: invert(100%);
}

/* @keyframes trip {
    0% {
      background-position : 0px 0px
    }
    100% {
      background-position : 200px 200px, -200px -200px
    }
} */